/* Element Chalk Variables */

// Special comment for theme configurator
// type|skipAutoTranslation|Category|Order
// skipAutoTranslation 1

/* Transition
-------------------------- */
$--all-transition: all .3s cubic-bezier(0.36, 0.01, 0.1, 1) !default;
$--fade-transition: opacity 300ms cubic-bezier(0.36, 0.01, 0.1, 1) !default;
$--fade-linear-transition: opacity 200ms linear !default;
$--md-fade-transition: transform 300ms cubic-bezier(0, 0, 0.2, 1), opacity 300ms cubic-bezier(0, 0, 0.2, 1) !default;
$--border-transition-base: border-color .2s cubic-bezier(0.36, 0.01, 0.1, 1) !default;
$--color-transition-base: color .2s cubic-bezier(0.36, 0.01, 0.1, 1) !default;

/* Color
-------------------------- */

// qidian global color


// brand
$--color-brand-0: #F1F6FF; /* - */
$--color-brand-1: #DBE8FF; /* - */
$--color-brand-2: #B7CEFF; /* - */
$--color-brand-3: #93B1FF; /* - */
$--color-brand-4: #6E92FF; /* focus */
$--color-brand-5: #4a70ff; /* normal */
$--color-brand-6: #3856DB; /* hover */
$--color-brand-7: #293EB6; /* active */
$--color-brand-8: #1C2A92;
$--color-brand-9: #12196D;

//blue
$--color-blue-0: #ECF9FF;
$--color-blue-1: #D0EFFF;
$--color-blue-2: #A1DDFF;
$--color-blue-3: #72C7FF;
$--color-blue-4: #43AEFF; /* focus */
$--color-blue-5: #1492FF; /* normal */
$--color-blue-6: #1075DB; /* hover */
$--color-blue-7: #0B5BB6; /* active */
$--color-blue-8: #084492;
$--color-blue-9: #052F6D;

//green
$--color-green-0: #E6F8EF; /* - */
$--color-green-1: #C0EBD7;
$--color-green-2: #8CDEBB;
$--color-green-3: #5ED1A3;
$--color-green-4: #34C48F; /* focus */
$--color-green-5: #0FB87F; /* normal */
$--color-green-6: #0B9D72; /* hover */
$--color-green-7: #088362; /* active */
$--color-green-8: #066952;
$--color-green-9: #044F40;

//yellow
$--color-yellow-0: #FEFDEC;
$--color-yellow-1: #FDF8D1;
$--color-yellow-2: #FBF0A3;
$--color-yellow-3: #FAE476;
$--color-yellow-4: #F9D64A; /* focus */
$--color-yellow-5: #F7C51E; /* normal */
$--color-yellow-6: #D4A217; /* hover */
$--color-yellow-7: #B18110; /* active */
$--color-yellow-8: #8D620B;
$--color-yellow-9: #6A4607;

//amber
$--color-amber-0: #fff9ef;
$--color-amber-1: #fff0d7;
$--color-amber-2: #ffdfae;
$--color-amber-3: #ffcd86;
$--color-amber-4: #ffb95e;
$--color-amber-5: #ffa436;
$--color-amber-6: #db8829;
$--color-amber-7: #b66c1e;
$--color-amber-8: #925314;
$--color-amber-9: #6d3b0d;

//orange
$--color-orange-0: #FFF8F0;
$--color-orange-1: #FFEBDA;
$--color-orange-2: #FFD5B5;
$--color-orange-3: #FFBC8F;
$--color-orange-4: #FFA16A; /* focus */
$--color-orange-5: #FF8345; /* normal */
$--color-orange-6: #DB6634; /* hover */
$--color-orange-7: #B64D26; /* active */
$--color-orange-8: #92361A;
$--color-orange-9: #6D2310;

//red
$--color-red-0: #FEF3F1; /* - */
$--color-red-1: #FDE0DC; /* - */
$--color-red-2: #FBBFB9; /* - */
$--color-red-3: #FA9C97; /* - */
$--color-red-4: #F97875; /* focus */
$--color-red-5: #f75559; /* normal */
$--color-red-6: #D44047; /* hover */
$--color-red-7: #B12F3A; /* active */
$--color-red-8: #8D202D; /* - */
$--color-red-9: #6A1421; /* - */

//purple
$--color-purple-0: #F4EEFC; /* - */
$--color-purple-1: #E2D5F8; /* - */
$--color-purple-2: #C6AFF3; /* - */
$--color-purple-3: #A98AEF; /* - */
$--color-purple-4: #8A67EA; /* focus */
$--color-purple-5: #6A45E5; /* normal */
$--color-purple-6: #5134C5; /* hover */
$--color-purple-7: #3B26A4; /* active */
$--color-purple-8: #281A83; /* - */
$--color-purple-9: #191062; /* - */

//gray
$--color-gray-0: #f7f8fa; /* - */
$--color-gray-1: #f4f5f7; /* - */
$--color-gray-2: #eceef1; /* divider 分割线 */
$--color-gray-3: #e0e2e7; /* - */
$--color-gray-4: #cdd0d9; /* - */
$--color-gray-5: #b4b8c4; /* - */
$--color-gray-6: #979baa; /* 说明文字 */
$--color-gray-7: #777c8d; /* - */
$--color-gray-8: #5b5f70; /* - */
$--color-gray-9: #434756; /* - */
$--color-gray-10: #313441; /* - */
$--color-gray-11: #232530; /* - */
$--color-gray-12: #191b23; /* - */
$--color-gray-13: #121319; /* - */


//opacity
$--color-opacity-0: rgba(54,79,129,0.04); /* hsla(220,41%,36%,0.04) */
$--color-opacity-1: rgba(36,56,97,0.05); /* hsla(220,46%,26%,0.05) */
$--color-opacity-2: rgba(18,42,79,0.08); /* hsla(216,63%,19%,0.08) */
$--color-opacity-3: rgba(17,32,70,0.13); /* hsla(223,61%,17%,0.13) */
$--color-opacity-4: rgba(6,21,66,0.20); /* hsla(225,86%,14%,0.2) */
$--color-opacity-5: rgba(5,18,56,0.30); /* hsla(225,84%,12%,0.3) */
$--color-opacity-6: rgba(1,11,50,0.41); /* hsla(227,96%,10%,0.41) */
$--color-opacity-7: rgba(3,12,43,0.54); /* hsla(227,87%,9%,0.54) */
$--color-opacity-8: rgba(3,10,38,0.65); /* hsla(229,84%,8%,0.65) */
$--color-opacity-9: rgba(1,7,30,0.74); /* hsla(228,93%,6%,0.74) */
$--color-opacity-10: rgba(1,4,19,0.81); /* hsla(231,91%,4%,0.81) */
$--color-opacity-11: rgba(2,4,18,0.87); /* hsla(232,79%,4%,0.87) */
$--color-opacity-12: rgba(2,4,13,0.91); /* hsla(229,73%,3%,0.91) */
$--color-opacity-13: rgba(0,1,10,0.93); /* hsla(233,100%,2%,0.93) */

//white
$--white: #ffffff; /* 常量 */

//black
$--black: #000000; /* 常量 */

//primary
$--color-primary-normal: $--color-brand-5; /* 主要颜色 */
$--color-primary-hover: $--color-brand-6; /* hover */
$--color-primary-active: $--color-brand-7; /* active */
$--color-primary-focus: $--color-brand-3; /* focus */
$--color-primary-disable: $--color-brand-2; /* disable */
$--color-primary-light: $--color-brand-0; /* light */
$--color-primary-text: $--color-brand-9; /* - */
$--color-primary-light-normal: $--color-brand-0; /* light */
$--color-primary-light-hover: $--color-brand-1; /* light-hover */
$--color-primary-light-active: $--color-brand-2; /* light-active */


/// color|1|Brand Color|0
$--color-primary: $--color-brand-5 !default;
/// color|1|Background Color|4
$--color-white: $--white !default;
/// color|1|Background Color|4
$--color-black: $--black !default;
$--color-primary-light-1: mix($--color-white, $--color-primary, 10%) !default; /* 53a8ff */
$--color-primary-light-2: mix($--color-white, $--color-primary, 20%) !default; /* 66b1ff */
$--color-primary-light-3: mix($--color-white, $--color-primary, 30%) !default; /* 79bbff */
$--color-primary-light-4: mix($--color-white, $--color-primary, 40%) !default; /* 8cc5ff */
$--color-primary-light-5: mix($--color-white, $--color-primary, 50%) !default; /* a0cfff */
$--color-primary-light-6: mix($--color-white, $--color-primary, 60%) !default; /* b3d8ff */
$--color-primary-light-7: mix($--color-white, $--color-primary, 70%) !default; /* c6e2ff */
$--color-primary-light-8: mix($--color-white, $--color-primary, 80%) !default; /* d9ecff */
$--color-primary-light-9: mix($--color-white, $--color-primary, 90%) !default; /* ecf5ff */
/// color|1|Functional Color|1
$--color-success: $--color-green-5 !default;
/// color|1|Functional Color|1
$--color-warning: $--color-orange-5 !default;
/// color|1|Functional Color|1
$--color-danger: $--color-red-5 !default;
/// color|1|Functional Color|1
$--color-info: $--color-opacity-6 !default;

$--color-success-light: $--color-green-1 !default;
$--color-warning-light: $--color-orange-1 !default;
$--color-danger-light: $--color-red-1 !default;
$--color-info-light: $--color-opacity-2 !default;

$--color-success-lighter: $--color-green-0 !default;
$--color-warning-lighter: $--color-orange-0 !default;
$--color-danger-lighter: $--color-red-0 !default;
$--color-info-lighter: $--color-opacity-1 !default;

//qidian text color
$--color-text-primary: $--color-opacity-13; /* - */
$--color-text-secondary: $--color-opacity-8; /* 次要 */
$--color-text-caption: $--color-opacity-6; /* 说明 */
$--color-text-disable: $--color-opacity-4; /* 不可用 */
$--color-text-white: $--white; /* 用于深色底的白色文字 */
$--color-text-black: $--black; /* 用于浅彩色底的黑色文字 */

/// color|1|Font Color|2
$--color-text-primary: $--color-opacity-13 !default;
/// color|1|Font Color|2
$--color-text-regular: $--color-opacity-8 !default;
/// color|1|Font Color|2
$--color-text-secondary: $--color-opacity-6 !default;
/// color|1|Font Color|2
$--color-text-placeholder: $--color-opacity-4 !default;

//qidian border color
$--color-border-normal: $--color-opacity-3;
$--color-border-hover: $--color-opacity-4;
$--color-border-active: $--color-brand-1; /* active */
$--color-border-disable: $--color-opacity-2; /* 不可用 */

$--color-divider-normal:$--color-opacity-2; /* 分割线颜色 */

/// default border
$--border-color-base: $--color-opacity-3 !default;
/// qidian divider
$--border-color-light: $--color-opacity-2 !default;
/// qidian divider 主要用在分隔线
$--border-color-lighter: $--color-opacity-2 !default;
/// color|1|Border Color|没看到哪里有用到
$--border-color-extra-light: $--color-opacity-2 !default


/// qidian bg color

$--color-bg-0: $--color-white; /* 最底层背景色 */
$--color-bg-1: $--color-white; /* 强调背景色（弹框类，控件类） */
$--color-bg-2: $--color-white; /* 最上层背景色（气泡类、通知类） */
$--color-bg-contrast: $--color-gray-0; /* 对比背景色 */
$--color-overlay: rgba(18,19,25,0.32); /* 蒙层颜色 */

$--table-head-bg: $--color-gray-1; /* 表头背景色 */

$--background-color-base: $--color-bg-0 !default;
//function clolor

$--color-bg-header: rgba(18,19,25,0.00); /* 头部背景色 */
$--color-bg-footer: 12131900; /* 底部背景色 */
$--color-nav-1: $--color-gray-1; /* 一级导航颜色 */
$--color-nav-2: $--color-gray-0; /* 二级导航颜色 */
$--color-link-normal: $--color-brand-5; /* normal */
$--color-link-hover: $--color-brand-6; /* hover */
$--color-link-active: $--color-brand-7; /* active */
$--color-link-visited: $--color-brand-4; /* visited */
$--color-prompt-normal: $--color-blue-5; /* normal */
$--color-prompt-hover: $--color-blue-6; /* hover */
$--color-prompt-active: $--color-blue-7; /* active */
$--color-prompt-disable: $--color-blue-2; /* disable */
$--color-prompt-light-normal: $--color-blue-0; /* light-normal */
$--color-prompt-light-hover: $--color-blue-1; /* light-hover */
$--color-prompt-light-active: $--color-blue-2; /* light-active */
$--color-prompt-text: $--color-blue-9; /* 提示文本 */
$--color-success-normal: $--color-green-5; /* normal */
$--color-success-hover: $--color-green-6; /* hover */
$--color-success-active: $--color-green-7; /* active */
$--color-success-disable: $--color-green-2; /* disable */
$--color-success-light-normal: $--color-green-0; /* light-normal */
$--color-success-light-hover: $--color-green-1; /* light-hover */
$--color-success-light-active: $--color-green-2; /* light-active */
$--color-success-text: $--color-green-9; /* 提示文本 */
$--color-warning-normal: $--color-orange-5; /* normal */
$--color-warning-hover: $--color-orange-6; /* hover */
$--color-warning-active: $--color-orange-7; /* active */
$--color-warning-disable: $--color-orange-2; /* disable */
$--color-warning-light-normal: $--color-orange-0; /* light-normal */
$--color-warning-light-hover: $--color-orange-1; /* light-hover */
$--color-warning-light-active: $--color-orange-2; /* light-active */
$--color-warning-text: $--color-orange-9; /* 提示文本 */
$--color-error-normal: $--color-red-5; /* normal */
$--color-error-hover: $--color-red-6; /* hover */
$--color-error-active: $--color-red-7; /* active */
$--color-error-disable: $--color-red-2; /* disable */
$--color-error-text: $--color-red-9; /* 提示文本 */
$--color-error-light-normal: $--color-red-0; /* light-normal */
$--color-error-light-hover: $--color-red-1; /* light-hover */
$--color-error-light-active: $--color-red-2; /* light-active */



/* Link
-------------------------- */
$--link-color: $--color-primary-normal !default;
$--link-hover-color: $--color-primary-hover !default;

/* Border
-------------------------- */
$--border-width-base: 1px !default;
$--border-style-base: solid !default;
$--border-color-hover: $--color-border-hover !default;
$--border-base: $--border-width-base $--border-style-base $--color-border-normal !default;
/// borderRadius|1|Radius|0
$--border-radius-base: 3px !default;
/// borderRadius|1|Radius|0
$--border-radius-small: 1.5px !default;
/// borderRadius|1|Radius|0
$--border-radius-circle: 100% !default;
/// borderRadius|1|Radius|0
$--border-radius-zero: 0 !default;

// Box-shadow

//qidian box shadow
$--shadow-small: 0px 0px 1px 0px rgba(18,19,25,0.08),0px 0px 2px 0px rgba(18,19,25,0.08),0px 2px 4px 0px rgba(18,19,25,0.08) !default; /* 控件类-（滑块等） */
$--shadow-medium: 0px 0px 1px 0px rgba(18,19,25,0.08),0px 0px 4px 0px rgba(18,19,25,0.08),0px 6px 12px 0px rgba(18,19,25,0.12) !default; /* 下拉弹层、卡片、轻弹层、气泡等 */
$--shadow-large: 0px 16px 32px 0px rgba(18,19,25,0.16),0px 0px 8px 0px rgba(18,19,25,0.08),0px 0px 1px 0px rgba(18,19,25,0.08) !default; /* 对话框、通知、抽屉等 */
/// boxShadow|1|Shadow|1
$--box-shadow-base: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04) !default;
// boxShadow|1|Shadow|1
$--box-shadow-dark: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .12) !default;
/// boxShadow|1|Shadow|1
$--box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !default;

/* Fill
-------------------------- */
//qidian fill color
$--color-fill-normal: $--color-white; /* normal */
$--color-fill-hover: $--color-opacity-1; /* hover */
$--color-fill-active: $--color-brand-0; /* active */
$--color-fill-disable: $--color-opacity-0; /* disabled */

$--fill-base: $--color-white !default;

// spacing and size
$--spacing-super-tight: 2px; /* 极相关组件相邻关系 */
$--spacing-tight: 4px; /* 极紧凑组件相邻关系 */
$--spacing-base: 8px; /* 默认间距基准单位 */
$--spacing-base-loose: 12px; /* 紧凑宽松尺寸内/外边距 */
$--spacing-loose: 16px; /* 默认宽松尺寸内/外边距 */
$--spacing-quite-loose: 20px; /* 宽松尺寸内/外边距 */
$--spacing-extra-loose: 24px; /* 较宽松尺寸内/外边距—容器级别 */
$--spacing-super-loose: 32px; /* 默认内/外边距—页面级别 */
$--radius-small: calc(($--radius-normal)/2);
$--radius-normal: 3px; /* 控件、小卡片等 */
$--radius-large: calc(($--radius-normal)*2); /* 大卡片、大弹框等 */
$--radius-round: 9999px; /* 胶囊 */

$--size-xxs: 8px;
$--size-xxs-large: 12px; /* 12 */
$--size-xs: 16px;
$--size-s: 20px;
$--size-m: 24px;
$--size-l: 32px;
$--size-xl: 48px;
$--size-xxl: 64px;
$--spacing-super-tight: 2px; /* 极相关组件相邻关系 */
$--spacing-tight: 4px; /* 极紧凑组件相邻关系 */
$--spacing-base: 8px; /* 默认间距基准单位 */
$--spacing-base-loose: 12px; /* 紧凑宽松尺寸内/外边距 */
$--spacing-loose: 16px; /* 默认宽松尺寸内/外边距 */
$--spacing-quite-loose: 20px; /* 宽松尺寸内/外边距 */
$--spacing-extra-loose: 24px; /* 较宽松尺寸内/外边距—容器级别 */
$--spacing-super-loose: 32px; /* 默认内/外边距—页面级别 */
//qidian font
$--display-regular:  32px; /* 超大标题 */
$--display-line-height: 40px;

$--headline-regular:  24px; /* 大标题 */
$--headline-height: 32px;

$--title-regular:  20px; /* 标题文字 */
// $--title-bold:  20px; /* 标题 */
$--title-line-height: 28px;

$--subtitle-regular:  16px; /* 小标题 */
// $--subtitle-medium:  16px; /* 小标题 */
$--subtitle-line-height: 24px;

$--body-regular: 14px; /* 正文的默认字号 */
// $--body-medium:  14px; /* 正文 */
$--body-line-height: 20px;

$--caption-regular:  12px; /* 说明文本 */
// $--caption-medium:  12px; /* 说明文本 */
$--caption-line-height: 16px;

//字重
$--font-weight-regular: 400;
$--font-weight-medium: 500;
$--font-weight-bold:600;

/* Typography
-------------------------- */
$--font-path: 'fonts' !default;
$--font-display: 'auto' !default;
/// fontSize|1|Font Size|0
$--font-size-extra-large: $--headline-regular !default;
/// fontSize|1|Font Size|0
$--font-size-large: $--title-regular !default;
/// fontSize|1|Font Size|0
$--font-size-medium: $--subtitle-regular!default;
/// fontSize|1|Font Size|0
$--font-size-base: $--body-regular !default;
/// fontSize|1|Font Size|0
$--font-size-small: $--body-regular !default;
/// fontSize|1|Font Size|0
$--font-size-extra-small: $--caption-regular !default;
/// fontWeight|1|Font Weight|1
$--font-weight-primary: 500 !default;
/// fontWeight|1|Font Weight|1
$--font-weight-secondary: 100 !default;
/// fontLineHeight|1|Line Height|2
$--font-weight-base: 400;
$--font-line-height-primary: $--body-line-height !default;
/// fontLineHeight|1|Line Height|2
$--font-line-height-secondary: 16px !default;
$--font-color-disabled-base: $--color-opacity-4 !default;
/* Size
-------------------------- */
$--size-base: 14px !default;

/* z-index
-------------------------- */
$--index-normal: 1 !default;
$--index-top: 1000 !default;
$--index-popper: 2000 !default;

/* Disable base
-------------------------- */
$--disabled-fill-base: $--color-fill-disable !default;
$--disabled-color-base: $--color-text-disable !default;
$--disabled-border-base: $--color-border-disable!default;

/* Icon
-------------------------- */
$--icon-color: $--color-text-caption !default;
$--icon-color-base: $--color-info !default;

/* Checkbox
-------------------------- */
/// fontSize||Font|1
$--checkbox-font-size: $--body-regular !default;
/// fontWeight||Font|1
$--checkbox-font-weight: $--font-weight-regular !default;
/// color||Color|0
$--checkbox-font-color: $--color-text-regular !default;
$--checkbox-input-height: 14px !default;
$--checkbox-input-width: 14px !default;
/// borderRadius||Border|2
$--checkbox-border-radius: $--border-radius-base !default;
/// color||Color|0
$--checkbox-background-color: $--color-white !default;
$--checkbox-input-border: $--border-width-base $--border-style-base $--color-border-normal !default;

/// color||Color|0
$--checkbox-disabled-border-color: $--color-border-disable !default;
$--checkbox-disabled-input-fill: $--color-fill-normal !default;
$--checkbox-disabled-icon-color: $--color-fill-disable !default;

$--checkbox-disabled-checked-input-fill: $--color-primary-disable !default;
$--checkbox-disabled-checked-input-border-color: $--color-border-disable !default;
$--checkbox-disabled-checked-icon-color: $--color-fill-disable !default;

/// color||Color|0
$--checkbox-checked-font-color: $--color-primary !default;
$--checkbox-checked-input-border-color: $--color-primary !default;
/// color||Color|0
$--checkbox-checked-background-color: $--color-primary !default;
$--checkbox-checked-icon-color: $--color-white !default;

$--checkbox-input-border-color-hover: $--color-border-hover !default;
/// 这个是带有边框的checkbox，企点没有这种类型可以忽略
$--checkbox-bordered-height: 40px !default;
/// padding||Spacing|3
$--checkbox-bordered-padding: 9px 20px 9px 10px !default;
/// padding||Spacing|3
$--checkbox-bordered-medium-padding: 7px 20px 7px 10px !default;
/// padding||Spacing|3
$--checkbox-bordered-small-padding: 5px 15px 5px 10px !default;
/// padding||Spacing|3
$--checkbox-bordered-mini-padding: 3px 15px 3px 10px !default;
$--checkbox-bordered-medium-input-height: 14px !default;
$--checkbox-bordered-medium-input-width: 14px !default;
/// height||Other|4
$--checkbox-bordered-medium-height: 36px !default;
$--checkbox-bordered-small-input-height: 12px !default;
$--checkbox-bordered-small-input-width: 12px !default;
/// height||Other|4
$--checkbox-bordered-small-height: 32px !default;
$--checkbox-bordered-mini-input-height: 12px !default;
$--checkbox-bordered-mini-input-width: 12px !default;
/// height||Other|4
$--checkbox-bordered-mini-height: 28px !default;

/// color||Color|0
$--checkbox-button-checked-background-color: $--color-primary !default;
/// color||Color|0
$--checkbox-button-checked-font-color: $--color-white !default;
/// color||Color|0
$--checkbox-button-checked-border-color: $--color-primary !default;




/* Radio
-------------------------- */
/// fontSize||Font|1
$--radio-font-size: $--body-regular !default;
/// fontWeight||Font|1
$--radio-font-weight: $--font-weight-regular !default;
/// color||Color|0
$--radio-font-color: $--color-text-regular !default;
$--radio-input-height: 14px !default;
$--radio-input-width: 14px !default;
/// borderRadius||Border|2
$--radio-input-border-radius: $--radius-round !default;
/// color||Color|0
$--radio-input-background-color: $--color-bg-1 !default;
$--radio-input-border: $--border-width-base $--border-style-base $--color-border-normal !default;
/// color||Color|0
$--radio-input-border-color: $--color-border-normal!default;
/// color||Color|0
$--radio-icon-color: $--color-white !default;//不知道是啥

$--radio-disabled-input-border-color: $--color-border-disable !default;
$--radio-disabled-input-fill: $--color-fill-disable !default;
$--radio-disabled-icon-color: $--color-fill-disable !default;

$--radio-disabled-checked-input-border-color: $--color-primary-disable !default;
$--radio-disabled-checked-input-fill: $--color-bg-1 !default;
$--radio-disabled-checked-icon-color: $--color-text-disable !default;

/// color||Color|0
$--radio-checked-font-color: $--color-primary !default;
/// color||Color|0
$--radio-checked-input-border-color: $--color-primary !default;
/// color||Color|0
$--radio-checked-input-background-color: $--color-bg-1 !default;
/// color||Color|0
$--radio-checked-icon-color: $--color-primary !default;

$--radio-input-border-color-hover: $--color-primary-hover !default;
/// 这个是带有边框的checkbox，企点没有这种类型可以忽略
$--radio-bordered-height: 40px !default;
$--radio-bordered-padding: 12px 20px 0 10px !default;
$--radio-bordered-medium-padding: 10px 20px 0 10px !default;
$--radio-bordered-small-padding: 8px 15px 0 10px !default;
$--radio-bordered-mini-padding: 6px 15px 0 10px !default;
$--radio-bordered-medium-input-height: 14px !default;
$--radio-bordered-medium-input-width: 14px !default;
$--radio-bordered-medium-height: 36px !default;
$--radio-bordered-small-input-height: 12px !default;
$--radio-bordered-small-input-width: 12px !default;
$--radio-bordered-small-height: 32px !default;
$--radio-bordered-mini-input-height: 12px !default;
$--radio-bordered-mini-input-width: 12px !default;
$--radio-bordered-mini-height: 28px !default;

/// fontSize||Font|1
$--radio-button-font-size: $--body-regular !default;
/// color||Color|0
$--radio-button-checked-background-color: $--color-primary !default;
/// color||Color|0
$--radio-button-checked-font-color: $--color-white !default;
/// color||Color|0
$--radio-button-checked-border-color: $--color-primary !default;
$--radio-button-disabled-checked-fill: $--color-primary-disable !default;

/* Select
-------------------------- */
$--select-border-color-hover: $--color-border-hover!default;
$--select-disabled-border: $--border-width-base $--border-style-base $--color-border-disable!default;
/// fontSize||Font|1
$--select-font-size: $--body-regular !default;
$--select-close-hover-color: $--color-text-secondary !default;

$--select-input-color: $--color-text-placeholder !default;
$--select-multiple-input-color: $--color-gray-0 !default;
/// color||Color|0
$--select-input-focus-border-color: $--color-primary !default;
/// fontSize||Font|1
$--select-input-font-size: 14px !default;

$--select-option-color: $--color-text-regular !default;
$--select-option-disabled-color: $--color-text-disable !default;
$--select-option-disabled-background: $--color-bg-1 !default;
/// height||Other|4
$--select-option-height: 28px !default;
$--select-option-hover-background: $--color-fill-hover!default;
/// color||Color|0
$--select-option-selected-font-color: $--color-text-primary !default;
$--select-option-selected-hover: $--color-fill-active !default;

$--select-group-color: $--color-fill-active !default;
$--select-group-height: 28px !default;
$--select-group-font-size: 12px !default;

$--select-dropdown-background: $--color-fill-normal !default;
$--select-dropdown-shadow: $--shadow-medium !default;
$--select-dropdown-empty-color: #999 !default;
/// height||Other|4
$--select-dropdown-max-height: 274px !default;
$--select-dropdown-padding: 4px 0 !default;
$--select-dropdown-empty-padding: 10px 0 !default;
$--select-dropdown-border: solid 1px $--color-border-normal !default;

/* Alert
-------------------------- */
$--alert-padding: 10px 12px !default;
/// borderRadius||Border|2
$--alert-border-radius: $--radius-normal !default;
/// fontSize||Font|1
$--alert-title-font-size: 14px !default;
/// fontSize||Font|1
$--alert-description-font-size: 14px !default;
/// fontSize||Font|1
$--alert-close-font-size: 14px !default;
/// fontSize||Font|1
$--alert-close-customed-font-size: 14px !default;

$--alert-success-color: $--color-success-light-normal !default;
$--alert-info-color: $--color-opacity-1 !default;
$--alert-warning-color: $--color-warning-light-normal !default;
$--alert-danger-color: $--color-error-light-normal !default;

/// height||Other|4
$--alert-icon-size: 20px !default;
/// height||Other|4
$--alert-icon-large-size: 20px !default;

/* MessageBox
-------------------------- */
/// color||Color|0
$--messagebox-title-color: $--color-text-primary !default;
$--msgbox-width: 420px !default;
$--msgbox-border-radius: $--radius-normal !default;
/// fontSize||Font|1
$--messagebox-font-size: $--body-regular !default;
/// fontSize||Font|1
$--messagebox-content-font-size: $--body-regular !default;
/// color||Color|0
$--messagebox-content-color: $--color-text-regular !default;
/// fontSize||Font|1
$--messagebox-error-font-size: $--caption-regular !default;
$--msgbox-padding-primary: 16px !default;
/// color||Color|0
$--messagebox-success-color: $--color-success !default;
/// color||Color|0
$--messagebox-info-color: $--color-info !default;
/// color||Color|0
$--messagebox-warning-color: $--color-warning !default;
/// color||Color|0
$--messagebox-danger-color: $--color-error-normal !default;

/* Message
-------------------------- */
$--message-shadow: $--shadow-large !default;
$--message-min-width: 380px !default;
$--message-background-color: #edf2fc !default;
$--message-padding: 12px !default;
/// color||Color|0
$--message-close-icon-color: $--color-text-placeholder !default;
/// height||Other|4
$--message-close-size: 16px !default;
/// color||Color|0
$--message-close-hover-color: $--color-text-secondary !default;

/// color||Color|0
$--message-success-font-color: $--color-success !default;
/// color||Color|0
$--message-info-font-color: $--color-info !default;
/// color||Color|0
$--message-warning-font-color: $--color-warning !default;
/// color||Color|0
$--message-danger-font-color: $--color-error-normal !default;

/* Notification qidian 暂无此组件
-------------------------- */
$--notification-width: 320px !default;
/// padding||Spacing|3
$--notification-padding: 12px 24px 12px 12px !default;
$--notification-radius: $--radius-normal !default;
$--notification-shadow: $--shadow-small !default;
/// color||Color|0
$--notification-border-color: $--color-border-normal !default;
$--notification-icon-size: 24px !default;
$--notification-close-font-size: $--message-close-size !default;
$--notification-group-margin-left: 12px !default;
$--notification-group-margin-right: 8px !default;
/// fontSize||Font|1
$--notification-content-font-size: $--body-regular !default;
/// color||Color|0
$--notification-content-color: $--color-text-regular !default;
/// fontSize||Font|1
$--notification-title-font-size: $--body-regular !default;
/// color||Color|0
$--notification-title-color: $--color-text-primary !default;

/// color||Color|0
$--notification-close-color: $--color-text-secondary !default;
/// color||Color|0
$--notification-close-hover-color: $--color-text-regular !default;

/// color||Color|0
$--notification-success-icon-color: $--color-success-normal !default;
/// color||Color|0
$--notification-info-icon-color: $--color-text-caption !default;
/// color||Color|0
$--notification-warning-icon-color: $--color-warning-normal !default;
/// color||Color|0
$--notification-danger-icon-color: $--color-error-normal !default;

/* Input
-------------------------- */
$--input-font-size: $--body-regular !default;
/// color||Color|0
$--input-font-color: $--color-text-regular !default;
/// height||Other|4
$--input-height: 32px !default;
$--input-border:$--border-width-base $--border-style-base $--color-border-normal !default;
$--input-border-color: $--color-border-normal !default;
/// borderRadius||Border|2
$--input-border-radius: $--radius-normal!default;
$--input-border-color-hover: $--color-border-hover !default;
/// color||Color|0
$--input-background-color: $--color-fill-normal !default;
$--input-fill-disabled: $--color-fill-disable !default;
$--input-color-disabled: $--color-text-disable !default;
/// color||Color|0
$--input-icon-color: $--color-text-caption !default;
/// color||Color|0
$--input-placeholder-color: $--color-text-caption !default;
$--input-max-width: 314px !default;

$--input-hover-border: $--border-width-base $--border-style-base $--color-border-hover !default;
$--input-clear-hover-color: $--color-text-secondary !default;

$--input-focus-border: $--border-width-base $--border-style-base $--color-primary-normal !default;
$--input-focus-fill: $--color-fill-normal !default;

$--input-disabled-fill: $--color-fill-disable !default;
$--input-disabled-border: $--border-width-base $--border-style-base $--color-border-disable !default;
$--input-disabled-color: $--color-fill-disable !default;
$--input-disabled-placeholder-color: $--color-fill-disable !default;

/// fontSize||Font|1
$--input-medium-font-size: 14px !default;
/// height||Other|4
$--input-medium-height: 32px !default;
/// fontSize||Font|1
$--input-small-font-size: 14px !default;
/// height||Other|4
$--input-small-height: 32px !default;
/// fontSize||Font|1
$--input-mini-font-size: 12px !default;
/// height||Other|4
$--input-mini-height: 32px !default;

/* Cascader
-------------------------- */
/// color||Color|0
$--cascader-menu-font-color: $--color-text-regular !default;
/// color||Color|0
$--cascader-menu-selected-font-color: $--color-text-primary !default;
$--cascader-menu-fill: $--fill-base !default;
$--cascader-menu-font-size: $--body-regular!default;
$--cascader-menu-radius: $--radius-normal !default;
$--cascader-menu-border: solid 1px $--color-border-normal !default;
$--cascader-menu-shadow: $--shadow-medium !default;
$--cascader-node-background-hover: $--color-fill-hover !default;
$--cascader-node-color-disabled:$--color-text-disable !default;
$--cascader-color-empty:$--color-text-caption !default;
$--cascader-tag-background: #f0f2f5;//这个待确认

/* Group 这个不确定是什么组件
-------------------------- */
$--group-option-flex: 0 0 (1/5) * 100% !default;
$--group-option-offset-bottom: 12px !default;
$--group-option-fill-hover: rgba($--color-black, 0.06) !default;
$--group-title-color: $--color-black !default;
$--group-title-font-size: $--body-regular !default;
$--group-title-width: 66px !default;

/* Tab
-------------------------- */
$--tab-font-size: $--body-regular !default;
$--tab-border-line: $--color-divider-normal !default;
$--tab-header-color-active: $--color-text-secondary !default;
$--tab-header-color-hover: $--color-text-regular !default;
$--tab-header-color: $--color-text-regular !default;
$--tab-header-fill-active: rgba($--color-black, 0.06) !default;
$--tab-header-fill-hover: rgba($--color-black, 0.06) !default;
$--tab-vertical-header-width: 90px !default;
$--tab-vertical-header-count-color: $--color-bg-0 !default;
$--tab-vertical-header-count-fill: $--color-text-secondary !default;

/* Button 
-------------------------- */
/// fontSize||Font|1
/// 对应企点large
$--button-font-size: $--subtitle-regular !default;
/// fontWeight||Font|1
$--button-font-weight: $--font-weight-regular !default;
/// borderRadius||Border|2
$--button-border-radius: $--border-radius-base !default;
/// padding||Spacing|3
$--button-padding-vertical: 11px !default;
/// padding||Spacing|3
$--button-padding-horizontal: 15px !default;

/// fontSize||Font|1
/// 暂时不改
$--button-medium-font-size: $--body-regular !default;
/// borderRadius||Border|2
$--button-medium-border-radius: $--border-radius-base !default;
/// padding||Spacing|3
$--button-medium-padding-vertical: 10px !default;
/// padding||Spacing|3
$--button-medium-padding-horizontal: 20px !default;

/// fontSize||Font|1
/// 对应企点 medium
$--button-small-font-size: $--body-regular !default;
$--button-small-border-radius: $--border-radius-base !default;
/// padding||Spacing|3
$--button-small-padding-vertical: 8px !default;
/// padding||Spacing|3
$--button-small-padding-horizontal: 15px !default;
/// fontSize||Font|1
/// 对应企点 small
$--button-mini-font-size: $--caption-regular !default;
$--button-mini-border-radius: $--border-radius-base !default;
/// padding||Spacing|3
$--button-mini-padding-vertical: 5px !default;
/// padding||Spacing|3
$--button-mini-padding-horizontal: 7px !default;

/// color||Color|0
$--button-default-font-color: $--color-text-primary !default;
/// color||Color|0
$--button-default-background-color: $--color-bg-1 !default;
/// color||Color|0
$--button-default-border-color: $--color-border-normal !default;

/// color||Color|0
$--button-disabled-font-color: $--color-text-disable !default;
/// color||Color|0
$--button-disabled-background-color: $--color-fill-disable !default;
/// color||Color|0
$--button-disabled-border-color: $--color-border-disable !default;

/// color||Color|0
$--button-primary-border-color: $--color-primary-normal !default;
/// color||Color|0
$--button-primary-font-color: $--white !default;
/// color||Color|0
$--button-primary-background-color: $--color-primary-normal !default;
/// color||Color|0
$--button-success-border-color: $--color-success !default;
/// color||Color|0
$--button-success-font-color: $--white !default;
/// color||Color|0
$--button-success-background-color: $--color-success !default;
/// color||Color|0
$--button-warning-border-color: $--color-warning !default;
/// color||Color|0
$--button-warning-font-color: $--white !default;
/// color||Color|0
$--button-warning-background-color: $--color-warning !default;
/// color||Color|0
$--button-danger-border-color: $--color-error-normal !default;
/// color||Color|0
$--button-danger-font-color: $--white !default;
/// color||Color|0
$--button-danger-background-color: $--color-error-normal !default;
/// color||Color|0
$--button-info-border-color: $--color-info !default;
/// color||Color|0
$--button-info-font-color: $--white !default;
/// color||Color|0
$--button-info-background-color: $--color-info !default;

$--button-hover-tint-percent: 20% !default;
$--button-active-shade-percent: 10% !default;


/* cascader 缺少很多定义样式
-------------------------- */
$--cascader-height: 200px !default;

/* Switch
-------------------------- */
/// color||Color|0
$--switch-on-color: $--color-primary !default;
/// color||Color|0
$--switch-off-color: $--color-gray-4 !default;
/// fontSize||Font|1
$--switch-font-size: $--body-regular !default;
$--switch-core-border-radius:$--radius-round !default;
// height||Other|4 TODO: width 代码写死的40px 所以下面这三个属性都没意义
$--switch-width: 36px !default;
// height||Other|4
$--switch-height: 20px !default;
// height||Other|4
$--switch-button-size: 16px !default;

/* Dialog
-------------------------- */
$--dialog-background-color: $--color-bg-1!default;
$--dialog-box-shadow: $--shadow-large !default;
/// fontSize||Font|1
$--dialog-title-font-size: $--title-regular !default;
/// fontSize||Font|1
$--dialog-content-font-size: $--body-regular !default;
/// fontLineHeight||LineHeight|2
$--dialog-font-line-height: $--body-line-height !default;
/// padding||Spacing|3
$--dialog-padding-primary: $--spacing-extra-loose !default;

/* Table
-------------------------- */
/// color||Color|0
$--table-border-color: $--color-divider-normal!default;
$--table-border: $--border-width-base $--border-style-base $--color-border-normal !default;
/// color||Color|0
$--table-font-color: $--color-text-primary !default;
/// color||Color|0
$--table-header-font-color: $--color-text-caption !default;
/// color||Color|0
$--table-row-hover-background-color: $--color-fill-hover !default;
$--table-current-row-background-color: $--color-fill-active!default;
/// color||Color|0
$--table-header-background-color: $--table-head-bg !default;
$--table-fixed-box-shadow: $--shadow-medium !default;

/* Pagination hover及选中色无相应token 需修复
-------------------------- */
/// fontSize||Font|1
$--pagination-font-size: $--body-regular !default;
/// color||Color|0
$--pagination-background-color: $--color-bg-0 !default;
/// color||Color|0
$--pagination-font-color: $--color-text-primary !default;
$--pagination-border-radius: $--radius-normal !default;
/// color||Color|0
$--pagination-button-color: $--color-text-primary !default;
/// height||Other|4
$--pagination-button-width: 35.5px !default;
/// height||Other|4
$--pagination-button-height: 24px !default;
/// color||Color|0
$--pagination-button-disabled-color: $--color-text-disable !default;
/// color||Color|0
$--pagination-button-disabled-background-color: $--color-bg-0 !default;
/// color||Color|0
$--pagination-hover-color: $--color-text-primary !default;

/* Popup 这个是蒙层的意思吗？
-------------------------- */
/// color||Color|0
$--popup-modal-background-color: $--color-overlay !default;
/// opacity||Other|1
$--popup-modal-opacity: 1 !default;

/* Popover
-------------------------- */
/// color||Color|0
$--popover-background-color: $--color-bg-1 !default;
/// fontSize||Font|1
$--popover-font-size: $--body-regular !default;
/// color||Color|0
$--popover-border-color: $--color-border-normal !default;
$--popover-arrow-size: 6px !default;
/// padding||Spacing|3
$--popover-padding: 16px !default;
$--popover-padding-large: 16px !default;
/// fontSize||Font|1
$--popover-title-font-size: $--body-regular !default;
/// color||Color|0
$--popover-title-font-color: $--color-text-primary !default;

/* Tooltip
-------------------------- */
/// color|1|Color|0
$--tooltip-fill: $--color-text-primary !default;
/// color|1|Color|0
$--tooltip-color: $--color-white !default;
/// fontSize||Font|1
$--tooltip-font-size: $--caption-regular !default;
/// color||Color|0
$--tooltip-border-color: $--color-border-normal !default;
$--tooltip-arrow-size: 6px !default;
/// padding||Spacing|3
$--tooltip-padding: $--spacing-base !default;

/* Tag
-------------------------- */
/// color||Color|0
$--tag-info-color: $--color-text-caption !default;
/// color||Color|0
$--tag-primary-color: $--color-primary !default;
/// color||Color|0
$--tag-success-color: $--color-success-normal !default;
/// color||Color|0
$--tag-warning-color: $--color-warning-normal !default;
/// color||Color|0
$--tag-danger-color: $--color-error-normal !default;
/// fontSize||Font|1
$--tag-font-size: $--caption-regular !default;
$--tag-border-radius:$--radius-normal !default;
$--tag-padding: 4px 8px !default;

/* Tree
-------------------------- */
/// color||Color|0
$--tree-node-hover-background-color: $--color-fill-hover !default;
/// color||Color|0
$--tree-font-color: $--color-text-primary !default;
/// color||Color|0
$--tree-expand-icon-color: $--color-text-caption !default;

/* Dropdown
-------------------------- */
$--dropdown-menu-box-shadow: $--shadow-medium !default;
$--dropdown-menuItem-hover-fill: $--color-fill-hover !default;
$--dropdown-menuItem-hover-color: $--color-text-primary !default;

/* Badge
-------------------------- */
/// color||Color|0
$--badge-background-color: $--color-red-5 !default;
$--badge-radius: $--radius-round !default;
/// fontSize||Font|1
$--badge-font-size: 12px !default;
/// padding||Spacing|3
$--badge-padding: 4px !default;
/// height||Other|4
$--badge-size: 16px !default;

/* Card
--------------------------*/
/// color||Color|0
$--card-border-color: $--color-border-normal !default;
$--card-border-radius: $--radius-normal !default;
/// padding||Spacing|3
$--card-padding: $--spacing-loose !default;

/* Slider
--------------------------*/
/// color||Color|0
$--slider-main-background-color: $--color-primary !default;
/// color||Color|0
$--slider-runway-background-color: $--color-opacity-1 !default;
$--slider-button-hover-color:$--color-fill-hover!default;
$--slider-stop-background-color: $--color-white !default;
$--slider-disable-color: $--color-text-disable !default;
$--slider-margin: 16px 0 !default;
$--slider-border-radius: $--radius-normal !default;
/// height|1|Other|4
$--slider-height: 6px !default;
/// height||Other|4
$--slider-button-size: 16px !default;
$--slider-button-wrapper-size: 36px !default;
$--slider-button-wrapper-offset: -15px !default;

/* Steps
--------------------------*/
$--steps-border-color: $--color-divider-normal !default;
$--steps-border-radius: 3px !default;
$--steps-padding: 16px !default;

/* Menu 
--------------------------*/
/// fontSize||Font|1
$--menu-item-font-size: $--body-regular !default;
/// color||Color|0
$--menu-item-font-color: $--color-text-primary !default;
/// color||Color|0
$--menu-background-color: $--color-white !default;
$--menu-item-hover-fill: $--color-fill-hover !default;

/* Rate
--------------------------*/
$--rate-height: 24px !default;
/// fontSize||Font|1
$--rate-font-size: $--body-regular !default;
/// height||Other|3
$--rate-icon-size: $--size-m !default;
/// margin||Spacing|2
$--rate-icon-margin: $--spacing-loose  !default;
$--rate-icon-color: $--color-text-caption !default;

/* DatePicker
--------------------------*/
$--datepicker-font-color: $--color-text-primary !default;
/// color|1|Color|0
$--datepicker-off-font-color: $--color-text-disable !default;
/// color||Color|0
$--datepicker-header-font-color: $--color-text-primary !default;
$--datepicker-icon-color: $--color-text-primary !default;
$--datepicker-border-color: $--color-border-normal !default;
$--datepicker-inner-border-color:$--color-divider-normal !default;
/// color||Color|0
$--datepicker-inrange-background-color: $--color-primary-light-normal !default;
/// color||Color|0
$--datepicker-inrange-hover-background-color: $--color-primary-light-hover !default;
/// color||Color|0
$--datepicker-active-color: $--color-primary-normal !default;
/// color||Color|0
$--datepicker-hover-font-color: $--color-text-primary !default;
$--datepicker-cell-hover-color: $--color-fill-hover!default;

/* Loading
--------------------------*/
/// height||Other|4
$--loading-spinner-size: 30px !default;
/// height||Other|4
$--loading-fullscreen-spinner-size: 48px !default;

/* Scrollbar
--------------------------*/
$--scrollbar-background-color: $--color-opacity-3 !default;
$--scrollbar-hover-background-color: $--color-opacity-4 !default;

/* Carousel
--------------------------*/
/// fontSize||Font|1
$--carousel-arrow-font-size: 16px !default;
$--carousel-arrow-size: 48px !default;
$--carousel-arrow-background: $--color-opacity-6 !default;
$--carousel-arrow-hover-background: $--color-opacity-8 !default;
/// width||Other|4
$--carousel-indicator-width: 32px !default;
/// height||Other|4
$--carousel-indicator-height: 2px !default;
$--carousel-indicator-padding-horizontal: 4px !default;
$--carousel-indicator-padding-vertical: 12px !default;
$--carousel-indicator-out-color: $--color-border-hover !default;

/* Collapse
--------------------------*/
/// color||Color|0
$--collapse-border-color: $--color-border-normal !default;
/// height||Other|4
$--collapse-header-height: 44px !default;
/// color||Color|0
$--collapse-header-background-color: $--color-bg-0 !default;
/// color||Color|0
$--collapse-header-font-color: $--color-text-primary !default;
/// fontSize||Font|1
$--collapse-header-font-size: $--body-regular !default;
/// color||Color|0
$--collapse-content-background-color: $--color-bg-0 !default;
/// fontSize||Font|1
$--collapse-content-font-size: $--body-regular !default;
/// color||Color|0
$--collapse-content-font-color: $--color-text-primary !default;

/* Transfer qidian 几乎没有
--------------------------*/
$--transfer-border-color: $--color-border-normal !default;
$--transfer-border-radius: $--radius-normal !default;
/// height||Other|4
$--transfer-panel-width: 200px !default;
/// height||Other|4
$--transfer-panel-header-height: 40px !default;
/// color||Color|0
$--transfer-panel-header-background-color: $--color-bg-0 !default;
/// height||Other|4
$--transfer-panel-footer-height: 40px !default;
/// height||Other|4
$--transfer-panel-body-height: 246px !default;
/// height||Other|4
$--transfer-item-height: 28px !default;
/// height||Other|4
$--transfer-filter-height: 32px !default;

/* Header
  --------------------------*/
$--header-padding: 0 32px !default;

/* Footer
--------------------------*/
$--footer-padding: 0 32px !default;

/* Main
--------------------------*/
$--main-padding: $--spacing-extra-loose !default;

/* Timeline
--------------------------*/
$--timeline-node-size-normal: 16px !default;
$--timeline-node-size-large: 20 px !default;
$--timeline-node-color: $--color-divider-normal !default;

/* Backtop
--------------------------*/
/// color||Color|0
$--backtop-background-color: $--color-white !default;
/// color||Color|0
$--backtop-font-color: $--color-primary !default;
/// color||Color|0
$--backtop-hover-background-color: $--color-fill-hover !default;

/* Link replace with qidian style
--------------------------*/
/// fontSize||Font|1
$--link-font-size: $--body-regular !default;
/// fontWeight||Font|1
$--link-font-weight: $--font-weight-regular !default;
/// color||Color|0
$--link-default-font-color: $--color-text-primary !default;
/// color||Color|0
$--link-default-active-color: $--color-primary !default;
/// color||Color|0
$--link-disabled-font-color: $--color-text-disable !default;
/// color||Color|0
$--link-primary-font-color: $--color-primary !default;
/// color||Color|0
$--link-success-font-color: $--color-success-normal !default;
/// color||Color|0
$--link-warning-font-color: $--color-warning-normal !default;
/// color||Color|0
$--link-danger-font-color: $--color-error-normal !default;
/// color||Color|0
$--link-info-font-color: $--color-text-caption !default;
/* Calendar
--------------------------*/
/// border||Other|4
$--calendar-border: $--border-width-base $--border-style-base $--color-border-normal !default;
/// color||Other|4
$--calendar-selected-background-color: $--color-bg-1 !default;
$--calendar-cell-width: 64px !default;

/* Form
-------------------------- */
/// fontSize||Font|1，我们的form比较特殊，这里先不改了，保证文字大小一致即可
$--form-label-font-size: $--body-regular !default;

/* Avatar
--------------------------*/
/// color||Color|0
$--avatar-font-color: $--color-text-white !default;
/// color||Color|0
$--avatar-background-color: $--color-gray-4 !default;
/// fontSize||Font Size|1
$--avatar-text-font-size: $--subtitle-regular !default;
/// fontSize||Font Size|1
$--avatar-icon-font-size: 16px !default;
/// borderRadius||Border|2
$--avatar-border-radius: $--border-radius-base !default;
/// size|1|Avatar Size|3
$--avatar-large-size: 40px !default;
/// size|1|Avatar Size|3
$--avatar-medium-size: 32px !default;
/// size|1|Avatar Size|3
$--avatar-small-size: 24px !default;

/* Empty
-------------------------- */
$--empty-padding: 40px 0 !default;
$--empty-image-width: 160px !default;
$--empty-description-margin-top: 20px !default;
$--empty-bottom-margin-top: 20px !default;

/* Descriptions 不知道这个组件是干啥的
-------------------------- */
$--descriptions-header-margin-bottom: 20px !default;
$--descriptions-title-font-size: 16px !default;
$--descriptions-table-border: $--border-width-base $--border-style-base $--border-color-lighter !default;
$--descriptions-item-bordered-label-background: #fafafa !default;

/* Skeleton 
--------------------------*/
$--skeleton-color: $--color-opacity-1!default;
$--skeleton-to-color:$--color-opacity-2 !default;

/* Svg
--------------- */
$--svg-monochrome-grey: $--color-gray-1 !default;

/* Result
-------------------------- */
$--result-padding: 40px 30px !default;
$--result-icon-font-size: 64px !default;
$--result-title-font-size: 20px !default;
$--result-title-margin-top: 20px !default;
$--result-subtitle-margin-top: 10px !default;
$--result-extra-margin-top: 30px !default;
$--result-info-color: $--color-text-caption !default;
$--result-success-color: $--color-success-normal !default;
$--result-warning-color: $--color-warning-normal !default;
$--result-danger-color: $--color-error-normal !default;

/* Break-point
--------------------------*/
$--sm: 768px !default;
$--md: 992px !default;
$--lg: 1200px !default;
$--xl: 1920px !default;

$--breakpoints: (
  'xs' : (max-width: $--sm - 1),
  'sm' : (min-width: $--sm),
  'md' : (min-width: $--md),
  'lg' : (min-width: $--lg),
  'xl' : (min-width: $--xl)
);

$--breakpoints-spec: (
  'xs-only' : (max-width: $--sm - 1),
  'sm-and-up' : (min-width: $--sm),
  'sm-only': "(min-width: #{$--sm}) and (max-width: #{$--md - 1})",
  'sm-and-down': (max-width: $--md - 1),
  'md-and-up' : (min-width: $--md),
  'md-only': "(min-width: #{$--md}) and (max-width: #{$--lg - 1})",
  'md-and-down': (max-width: $--lg - 1),
  'lg-and-up' : (min-width: $--lg),
  'lg-only': "(min-width: #{$--lg}) and (max-width: #{$--xl - 1})",
  'lg-and-down': (max-width: $--xl - 1),
  'xl-only' : (min-width: $--xl),
);
